*{
	box-sizing: border-box;
	transition: all .4s ease-in-out;
}
body {
	background-color: #f1f1f1;
	font-family:Arial, sans-serif;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;

}

form {
	width: 80%;
	border: 0;
	font-size: 14px;
	margin: 0 auto;
	position: relative;
	padding: 40px 0 0;
}

input {
		width: 100%;
		font-size: 700%;
		background-color: #f1f1f1;
		border: 0;
		color: #ec5a62;
		/* padding: 0 0 0 53px; */
		font-weight: 600;
	}
input:active, 
input:hover, 
input:focus {
	outline: 0;
	outline-offset: 0;
}
input::-webkit-input-placeholder {
		color: #c2c2c2;
		border-color:#c2c2c2; 
		list-style-type: none;
	}
button {
		border: 0;
		vertical-align: baseline;
		background: url('img/magnifier.svg');
		height: 60px;
		width: 60px;
		padding: 0;
		position: absolute;
		right:10px;
		top: 70px;
		border:0;
	}
button:hover,
button:focus
 {
		transform: scale(1.5)
}
main {
	margin: 0 auto;
	width: 80%;
}

button:focus
 {
   outline: 0;
}
.cont {
	display: inline-block;
	margin: 0;
	width: 30%;
}
.cont1 {
	margin-left: 3%;
}
h2 {
		color: #c2c2c2; 
	}
.st {
	list-style-type: none;
	display: inline-block;
	padding: 20px 0;
	width: 100%;
	margin: 0;
	font-size: 0;
}

li {
	width: 100%;
	background-color: rgba(118,117,128,0.05);
	border-radius: 8px;
	margin: 5px 0;
	font-weight: bold;
	height: 66px;
	
}
a {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	vertical-align: middle;
	color: #c2c2c2;
}

a:hover {
		color: #ec5a62;
		background-color: rgba(118,117,128,0.1);
	}
.im {
	width: 20%;
	margin-right: 10px;
	vertical-align: middle;
	padding:10px;
	height:auto;

}
.iml {
	border-radius: 50%;
}
p {
	width: calc(80% - 15px);
	margin: 10px 0; 
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	max-height: 50px;
	overflow:hidden;
	}


